<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>list.html</h2>
    세션값확인: <p th:text="${session['loginEmail']}"></p>
<table>
    <tr>

        <th>id</th>
        <th>memberEmail</th>
        <th>memberPassword</th>
        <th>memberName</th>
        <th>memberAge</th>
        <th>memberPhone</th>
    </tr>
    <tr th:each="member: ${memberList}"> // 반복문 돌림
        <td th:text="${member.memberEmail}"></td>
        <td th:text="${member.memberPassword}"></td>
        <td th:text="${member.memberName}"></td>
        <td th:text="${member.memberAge}"></td>
        <td th:text="${member.memberPhone}"></td>
        <td>
            <a th:href="@{|/member/${member.id}|}">조회</a> // 상세조회

        </td>
    </tr>
</table>

</body>
</html>